@import './variables.scss';
@import './mixin.scss';

.container{
    width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 1000;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}